<div>
  <%= link_to 'Messages', conversations_path, :class => 'navbar-link'%> |
  <%= link_to 'Profiles', profiles_path, :class => 'navbar-link'%> |
  <%= link_to 'Blocked Users', blocklists_path, :class => 'navbar-link'%>
  <h2><strong>Search:</strong></h2> 
  <%= link_to 'Best Match', search_best_match_path, :class => 'navbar-link'%>|
  <%= link_to 'Nearby', search_nearby_path, :class => 'navbar-link' %>|
  <%= link_to 'By Hug Type', search_hug_id_path, :class => 'navbar-link'%>
</div>
