<%# #TODO Search: Display results in partial %>
<h3>Search results</h3>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Score</th>
      <th>Matching hugs</th>
      <th>About</th>
      <th>Distance</th>
      <th>Suburb</th>
      <th>State</th>
      <th>Postcode</th>
    </tr>
  </thead>
  <tbody>
    <% @profiles.each do |profile| %>
      <tr>
        <td><%= link_to profile do %>
            <%= profile.name_display %>
          <% end %>
        </td>
        <td>
          <% for result in @search_results do %>
            <% if result[0] == profile.id %>
              <%= result[1] %>
            <% end %>
          <% end %>
        </td>
        <td>
          <%= @matchlist[profile.id].join(", ") %>
          
        </td>
        <td><%= profile.description %></td>
        <td>
          <% profile_coords = [profile.latitude, profile.longitude] %>
          <%= current_user.profile.distance_to(profile_coords).round(1) %> km
        </td>
        <td><%= profile.suburb %></td>
        <td><%= profile.state %></td>
        <td><%= profile.postcode %></td>
      </div>
    </tr>
  <% end %>
</tbody>
</table>
